<html lang="en">
    <head>
        <meta charset="UTF8" />
        <title>WebSCAAAALLE</title>

        <!-- CSS -->
        <!-- load bootstrap and our own personal stylesheet -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-r/qnS4YZBLuBSKeVc+sM4eUYUiJMFhkHfx1nwlErHhTd+NgeJlN/NiiTd6jbKJzm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Blogotron run Blog</h1>
                <p>
                    This is a demo blog being served by Blogotron. Blog posts are made in markdown form in the
                    posts directory, and enumerated below in a list of clickable links, which will parse the
                    markdown into html, inject it into a template document and then show it. Nothing special
                    but I kinda like it.
                </p>
                <h2>Posts</h2>
                <ul>
                <% postList.forEach(function(p) { %>
                    <% var title = p.slice(0, -3); %>
                    <li>
                        <a href="<%='./posts/' + title %>">
                        <%= title %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </body>
</html>
        
