<html lang="en">
    <head>
        <meta charset="UTF8" />
        <title>WebSCAAAALLE</title>

        <!-- CSS -->
        <!-- load bootstrap and our own personal stylesheet -->
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-r/qnS4YZBLuBSKeVc+sM4eUYUiJMFhkHfx1nwlErHhTd+NgeJlN/NiiTd6jbKJzm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>This is stupid</h1>
                <p>This is some stupid hipster bootstrap site that is <em>really</em> terrible</p>
                <p>I don't quite get why but apparently some people find this weird look
                   appealing or even pleasant. If you ask me then it's some overcomplicated
                   yet still pointlessly minimalist css. <br>
                   Oh well.
                </p>
                <h2>Posts</h2>
                <ul>
                <% postList.forEach(function(p) { %>
                    <% var title = p.slice(0, -3); %>
                    <li>
                        <a href="<%='./' + title %>">
                        <%= title %>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </body>
</html>
        
