body    { padding-top:50px; }
h1 { text-align: center;}
.container .jumbotron    { border-radius:5px; }
textarea.md-editor {
    font-family: monospace;
    resize: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height: 80%;
}

a.btn.btn-outline-primary.write-post {
    margin-top: 10px;
    margin-bottom: 10px;
}
